.input{
    background: rgba(255, 255, 255, 0.85);
    border: 1px solid #FFFFFF;
    border-radius: 3px;
    padding: 11px 35px 11px 9px;
    color: #272733;
    font-size: 18px;
    line-height: 24px;
    outline: none;
    @include trs;

    &::placeholder{
        color: #272733;
    }

    &:focus{
        background: rgba(61, 64, 80, 0.85);
        color: #FFFFFF;
        border: 1px solid rgba(61, 64, 80, 0.85);

        &::placeholder{
            color: #FFFFFF;
        }
    }
}