<select class="select @@class" name="select" id="selectElement">
    <option data-placeholder="true"></option>
    <option>Sed ut perspiciatis</option>
    <option>Nemo enim ipsam</option>
    <option>Et harum quidem</option>
    <option>Temporibus autem</option>
    <option>Itaque earum rerum</option>
    <option>Sed ut perspiciatis</option>
    <option>Nemo enim ipsam</option>
    <option>Et harum quidem</option>
    <option>Temporibus autem</option>
    <option>Itaque earum rerum</option>
</select>