@import 'base/*.scss';
@import 'global/*.scss';
@import '**/_*.scss';
@import '../components/**/*.scss';

.banner{
    padding: 203px 0;
    background-image: url('../img/banner.webp');
    @include bg(cover);
}

.banner__title{
    font-size: 48px;
    color: #000000;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 62.5px;
    margin-bottom: 80px;
}

.banner__text{
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.banner__list{
    list-style: none;
    color: #000000;
    padding-left: 25px;
    margin-bottom: 80px;
}

.banner__item{
    position: relative;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 5px;

    &::before {
        content: "";
        position: absolute;
        left: -15px;
        top: 50%;
        display: block;
        width: 5px;
        height: 2px;
        background: #000000;
        
    }

    &:last-of-type{
        margin-bottom: 0;
    }
}

.banner__btn:first-of-type{
    margin-right: 30px;
}

.checkout{
    padding: 120px 0 150px;
    background: url(../img/bg.webp), #272733;
    @include bg(cover);
}

.checkout__title{
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 40px;
    word-spacing: 10px;
    margin-bottom: 30px;
}

.checkout__text{
    color: #BBBBBB;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 80px;
}

.checkout__images{
    margin-bottom: 20px;
    padding: 0 46px;
}

.checkout__img{
    display: inline-block;
    width: 100%;
    max-width: 100px;
    height: 100px;
}

.checkout__dots-wrap{
    margin: 0 15px;
    flex: 1;
}

.checkout__dot{
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #C4C4C4;
}

.checkout__description-wrapper{
    margin-bottom: 80px;
}

.checkout__description{
    width: calc( (100% - 200px) / 5 );
    text-align: center;
}

.checkout__form{
    text-align: center;
}

.form__wrapper{
    flex-wrap: wrap;
    margin-bottom: 45px;
}

.form__text-wrapper{
    margin-bottom: 6px;
}

.form__select{
    width: calc((100% - 60px) / 3);
    margin-bottom: 30px;
}

.form__input{
    width: calc((100% - 60px) / 3);
    margin-bottom: 30px;
}

.form__range-wrapper{
    width: calc((100% - 15px) / 3 * 2);
}

.form__text{
    font-size: 18px;
    line-height: 22px;
}

.form__label{
    width: calc((100% - 60px) / 3);
}

@import '*/_media.scss';